<!DOCTYPE html>
<html>

<head>
<style>

body {
  padding: 0;
  margin: 0;
}

section {
  display: none;
}
section:target {
  display: block;
}

nav,
nav ul {
  display: flex;
  flex-flow: row wrap;
}

nav {
  background: #fad8d1;
  color: #590f00;
  padding: 1em;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li {
  margin-right: 1em;
}

nav li a {
  color: #590f00;
}

</style>
</head>

<body>

  <nav>
    <ul>
{% for x in pages %}
      <li><a href="#{{ x.linkmarker }}">{{ x.page.title }}</a></li>
{% endfor %}
    </ul>
  </nav>
  
{% for x in pages %}
<section id="{{ x.linkmarker }}">
  <!-- {{ x.page.title }} content goes here -->
  {{ x.page.content }}
</section>
{% endfor %}

</body>
</html>
